<ion-view view-title="DotBuy">
  <ion-content class="padding" lazyscroll>
      <ion-refresher
              pulling-text="pull to refresh..."
              pulling-icon="icon ion-chevron-down"
              on-refresh="doRefresh()">
      </ion-refresher>
      <div class="list list-inset">
          <a class="item item-noborder" href="#/tab/dash/1">
              <img class="full-image" imglazysrc="https://pbs.twimg.com/profile_images/578237281384841216/R3ae1n61.png"/>
              <div class="like">
                  <i class="icon ion-ios-heart"></i>
                  <div>14267</div>
              </div>
              <div class="oneword">the beauty of life everywhere</div>
          </a>
          <a class="item item-noborder" href="#/tab/dash/1">
              <img class="full-image" imglazysrc="https://pbs.twimg.com/profile_images/598205061232103424/3j5HUXMY.png"/>
              <div class="like">
                  <i class="icon ion-ios-heart"></i>
                  <div>14267</div>
              </div>
              <div class="oneword">the beauty of life everywhere</div>
          </a>
          <a class="item item-noborder" href="#/tab/dash/1">
              <img class="full-image" imglazysrc="https://pbs.twimg.com/profile_images/598205061232103424/3j5HUXMY.png"/>
              <div class="like">
                  <i class="icon ion-ios-heart"></i>
                  <div>14267</div>
              </div>
              <div class="oneword">the beauty of life everywhere</div>
          </a>
      </div>
  </ion-content>
</ion-view>
